<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <% if (!role) { %>
        <%- include('home-navbar') %>
    <% } else if (role === 'Patient') { %>
        <%- include('patient-navbar', { loggedInPatientId }) %>
    <% } else if (role === 'Specialist') { %>
        <%- include('specialist-navbar', { loggedInSpecialistId }) %>
    <% } else if (role === 'Admin') { %>
        <%- include('admin-navbar') %>
    <% } %>

 
</body>
</html>